body{
	margin:0;
	padding:0;
	font-family: 'Oxygen',sans-serif;
	position: relative;
}
h1,h2,h3,h4,h5,h6,p,a,ul{
	margin:0;padding:0;
}
.main-title{
	text-align: center;
	padding: 1em 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.project{
	width:49%;
	margin:0;
	padding:0;
	float:left;
	margin-bottom: 2%;
	text-align: center;
}
.project img{
	height:39vw;
	width:100%;
}
.project:nth-child(even){
	margin-left:2%;
}

.content{
	position: relative;
/*	background-color: pink;*/
	padding: 2em 10% 3em 10%;
	border-bottom:1px solid rgba(0,0,0,0.5);
}
.content:after{
	content:"";
	display: block;
	clear:both;
}
.pic-subheader{
	font-size: 14px;
    color: rgba(0,0,0,0.9);
}
.hide{
	display: none;
}
#menu-btn{
    /* text-align: center; */
    text-decoration: none;
    color: grey;
    /* display: block; */
    position: relative;
    z-index: 8;
    margin-top: 5px;
}
#menu-btn-wrapper{
	text-align: center;
	margin-top:0.5em;
}
.active{
	color:white !important;
}
#mobile-navbar{
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	width:100%;
	top:0;
	height:100vh;
	z-index: 4;
	transition: width 2s;
}
#mobile-navbar a{
	text-decoration: none;
	color:rgba(255,255,255,0.7);
}
#mobile-navbar li{
	padding:1em 0;
}
#mobile-navbar ul{
	width: 100%;
    text-align: center;
    height: 200px;
    position: absolute;
    top: 0;
   /* background-color: magenta;*/
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
h3{
	text-align: center;
	margin-bottom:2em;
}
.section{
	padding-top:6em;
}
#about img{
	width: 100%;
    margin: 0 auto;
    display: block;
}
.section{
	padding-left:10%;
	padding-right:10%;
}
.section p{
	line-height: 1.5em;
    margin-top: 1em;
}
#about h3{
	display: block;
	font-weight: normal;
}
#about .left{
	display: none;

}
#about{
	padding-bottom: 5em;
}
footer{
	text-align: center;
    padding: 6em 0;
    border-top: 1px solid grey;
}
@media only screen and (min-width: 768px){
	.project{
		width:33%;
	}
	.project img{
		height:25vw;
	}
	.project:nth-child(even){
		margin-left:0%;
	}
	#about img{
		width: 50%;
    	float:left;
    	margin: 0 1em 0px 0;
	}
	#about h3{
		display: none;
		font-size: 30px;
		font-weight: lighter;
	}
	#about .left, #about p{
    	display:contents;
	}

	#about p{
		line-height: 2em;
	}
	.section:after{
		content:"";
		display: block;
		clear:both;
	}
}

@media only screen and (min-width: 1024px){
	#about img{
		margin:0 6em 0px 0;
	}
	#about .left, #about p{
    	display: flex;
    	margin-bottom: 0;
	}

}